*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }
.card1 {
    background: #333333;
    color: white;
    padding: 1em;
    border-radius: 30px;
    width: 100%;
    max-width: 600px;
    margin: 1em;
}
button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
button:hover {
    background: #7c7c7c6b;
}

/*   NAVIGATION   */
.topnav div {
    z-index: 100;
    color: #000;
    text-align: center;
    text-decoration: none;
}
.topnav .searchBar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topnav input {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
}
::placeholder {
    color: white;
    opacity: 0.8;
}

/* AutoComplete */
.autoCompleteList{
    max-height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: #333333;;
    border-radius: 0px 0px 30px 30px
}

.autoCompleteItem{
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: white !important;
}

.autoCompleteItem:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.autoCompleteItemSelected{
    background-color: white;
}

::-webkit-scrollbar{
    width: 25px;
}
::-webkit-scrollbar-track{
    border:7px solid #333333;
}
::-webkit-scrollbar-thumb{
    background: lightgrey;
    opacity: 0.8;
    border-radius: 3px;
}

/* CurrentWeatherPanel */
.card2 {
    background: #242424;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 600px;
    margin: 1em;
}
.page {
    width: 100%;
    height: 100%;
    z-index: -1;
}
.flex {
    display: flex;
}
.flex-center {
    justify-content: center;
}
.flex-column {
    flex-direction: column;
}
.flex-stretch {
    align-items: stretch;
}
.flex-space-around {
    justify-content: space-around;
}
.currentLocation {
    width: 90%;
    margin: auto;
}
.weatherImg {
    max-width: 100px;
    max-height: 100px;
}
.cityName {
    font-size: 1.4rem;
    align-self: center;
}
.cityInfo h1 {
    margin: 5px 0;
}
.cityDetail p {margin-top: 2px;}
.middle {
    align-items: center;
}
.tempMin {
    color:#01b7ff;
}
.tempMax{
    color: #f00408;
}
.noLocation {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: center;
}
.noLocation a {
    border-radius: 3px;
    display: flex;
}
.noLocation p {
    color: white;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.noLocation span {
    color: white;
    padding: 10px 5px;
}

 /* Google Maps */

 #googleMap{
    width: 60%;
    height: 30vh;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
 }

 #centerButton{
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    cursor: pointer;
    float: left;
    margin-bottom: 22px;
    text-align: center;
    color: #191919;
    font-size: 1rem;
    line-height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 12px;
 }

.flex.flex-column{
    margin-right: 0.5em;
}

.noLocation:hover{
    cursor: pointer;
}

.temperatureObject{
    display: flex;
    justify-content: space-around;
}

.forecastContainer{
    display: flex;
    background: #242424;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 600px;
    margin: 1em;
    height: 100%;
    z-index: -1;
}

.titleForecast{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.1rem;
    text-align: center;
}

.swiper-container{
    width: 100%;
    max-width: 650px;
    position: absolute;
    margin-left: -150px;
}

.swiper-pagination{
    margin-top: -5px !important;
    position: relative !important;
}

.swiper-pagination-bullet{
    width: 10px !important;
    height: 10px !important;
    margin: 0 2.5px !important;
}

:root {
    --swiper-theme-color: #242424 !important;
}

@media screen and (max-width: 750px) {
    #controls{
        display: none;
    }
    .card1{
        width: 95%;
        max-width: 100%;
    }
    .card2{
        width: 95%;
        max-width: 100%;
        padding-left: 0.3em;
        padding-right: 0.3em;
    }
    #googleMap{
        width: 95%;
    }

    .forecastContainer{
        width: 95%;
        max-width: 100%;
        padding-left: 0.3em;
        padding-right: 0.3em;
    }
}

@media screen and (max-width: 400px) {
    .flex{
        flex-direction: column
    }

    .temperatureObject > p{
        margin: 0.5em;
    }   
}